#projectName {
    text-align: center;
}

#projectSubtitle {
    text-align: center;
}

.readmosWrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.readmosContent {
    border: solid black;
    margin: 30px;
    padding: 30px;
}