#projectName {
    text-align: center;
    margin: 30px;
}

.readmosWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 10px;
    height: 400px;
}

.card-body {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}